.formLabelTextDiv
  display: flex
  flex-direction: column

  width: 100%
  gap: 0.5rem

.formLabel
  font-size: clamp(0.75rem, 3vw, 1rem)
  line-height: clamp(0.75rem, 3vw, 1rem)

.formTextField
  $clamp-value: clamp(0.75rem, 3vw, 1.5rem)
  font-size: $clamp-value
  line-height: calc($clamp-value * 1.25)

  outline: none
  border: solid 1px
  border-radius: 0.75rem

  padding: 0.75rem 1rem

  color: var(--text-1)
  background-color: var(--background-base)
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, opacity 0.2s ease-in-out

  &:invalid
    border-color: red

  &:focus
    border-color: var(--accent-1)

  &::placeholder
    color: var(--text-3)

.formInvalid
  font-size: clamp(0.75rem, 3vw, 1rem)
  line-height: clamp(0.75rem, 3vw, 1rem)

  margin: 0

  color: red
  