.formLabelTextDiv
  display: flex
  flex-direction: column

  width: 100%
  gap: 0.5rem

.formLabel
  font-size: clamp(12px, 3vw, 16px)
  line-height: clamp(12px, 3vw, 16px)

.formTextField
  $clamp-value: clamp(12px, 5vw, 24px)
  font-size: $clamp-value
  line-height: calc($clamp-value * 1.25)

  outline: none
  border: solid 1px
  border-radius: 0.75rem

  padding: 0.75rem 1rem

  &:invalid
    border-color: red

  &:focus
    border-color: var(--accent-1)

.formInvalid
  font-size: clamp(12px, 3vw, 16px)
  line-height: clamp(12px, 3vw, 16px)

  margin: 0

  color: red
  